<table class="table" border="0px">
    <tbody >
        <tr style="font-size: 15px;">
          <th>Id</th>
          <td>Firstname</td>
          <td>Lastname</td>
          <td>Email</td>
          <td>Mobile</td>
          <td>Aadhar</td>
          <td>Pan</td>
          <td>Actions</td>
        </tr>   
        
        <tr *ngFor="let app of apps">
          <th >{{app.id}}</th>
          <td>{{app.person.firstname}}</td>
          <td>{{app.person.lastname}}</td>
          <td>{{app.person.email}}</td>
          <td>{{app.person.mobile}}</td>
          <td>{{app.aadhar}}</td>
          <td>{{app.pan}}</td>
          <td>
          <button mat-raised-button color="accent" > Apply Loan  </button>
          </td>
        </tr>
      </tbody>
  
    </table>
